*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: arial;
    font-size: 1.1rem;
    list-style: none;
    text-decoration: none;
}
header{
    border:2px solid black;
    padding:10px;
}
header nav{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
header nav li{
    margin-right:10px;
}